@model List<LinkModel>

@{
    ViewData["Title"] = "Lista de Links";
}

<div class="text-center">
    <div class="d-grid gap-2 d-md-flex justify-content-md-start">
        <a class="btn btn-primary" role="button" asp-controller="Link" asp-action="Criar">Encurtar novo Link</a>
    </div>

    <h1 class="display-4">Lista de Links</h1>

    <table class="table">
        <thead>
            <tr>
                <th scope="col">#</th>
                <th scope="col">Nome</th>
                <th scope="col">Link Original</th>
                <th scope="col">Link Encurtado</th>
                <th></th>
            </tr>
        </thead>
        <tbody>

            @if (Model != null && Model.Any())
            {
                foreach (var link in Model)
                {
                    <tr>
                        <th scope="row">@link.Id</th>
                        <td>@link.Nome</td>
                        <td>@link.LinkOriginal</td>
                        <td>@link.LinkEncurtado</td>
                        <td>
                            <div class="btn-group" role="group">
                                <a role="button" class="btn btn-primary" asp-route-id="@link.Id" asp-controller="Link" asp-action="Editar">Editar</a>
                                <a role="button" class="btn btn-danger" asp-route-id="@link.Id" asp-controller="Link" asp-action="ApagarConfirmacao">Apagar</a>
                            </div>
                        </td>
                    </tr>
                }
            }

        </tbody>
    </table>
</div>